* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f0f0f0;
}

canvas {
  border: 1px solid black;
  background: white;
  height: 20em;
  width: 40em;
}
